<div mat-dialog-content class="col-sm-12">
    <span class="clearfix"></span>
    <div class="center-block"></div>
    <div class="col-md-6 col-md-offset-3">
        <mat-spinner *ngIf="!boton && !error"></mat-spinner>
        <i *ngIf="(response != null && boton && response.success) || addProduct" class="material-icons checkIcon">
	      check_circle_outline
        </i>
        <i *ngIf="error" class="material-icons checkIconOff">
	      highlight_off
	    </i>
        <br><br>
    </div>
  <h2 class="title text-center">{{texto}}</h2>
  <div class="col-md-12 col-md-offset-3">
	<div class="col-md-6">
		<input *ngIf="componente === 'registerCart'" type="button" class="btn btn-primary pull-right" (click)="onNoClick(false); irCarro();" value="ir al Carro">
	</div>
	<div class="clearfix"></div>
	<div class="col-md-6">
		<input *ngIf="boton && (componente === 'contacto' || componente === 'updateProducto' || componente === 'registerCart')" type="button" class="btn btn-primary pull-right" (click)="onNoClick(false)" value="Seguir Comprando">
  		<button *ngIf="(boton || error) && (componente === 'login' || componente === 'register')" class="btn btn-primary pull-right" [mat-dialog-close]="response" mat-raised-button>Seguir Comprando</button>
	</div>
  </div>
  
</div>