<!--header-->
  <header id="header">
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#x"><i class="fa fa-phone"></i> +56 9 72 16 7197</a></li>
								<li><a href="#x"><i class="fa fa-envelope"></i> dulcealegriakye@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/dulcealegriakye/" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/dulcealegriakye/" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		<!--header-middle-->
		<div class="header-middle">
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="companyinfo">
							<h2><span>Mini Market</span>-Dulce Alegria</h2>
                            <p>El mini market que lo pone todo a tu alcance</p> <h3 *ngIf="identity"><span>Bienvenido </span>{{identity.name}}</h3>
						</div>
					</div>
					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
                                <li><a [routerLink]="['/home']" [routerLinkActive]="['active']"><i class="fa fa-star"></i> Home</a></li>
								<li><a [routerLink]="['/contact']" [routerLinkActive]="['active']"><i class="fa fa-crosshairs"></i> Contacto</a></li>
                                <li><a [routerLink]="['/cart']" [routerLinkActive]="['active']"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{countProducts}}</span></a></li>
                                <li><a *ngIf="identity" [routerLink]="['/mis-compras']" [routerLinkActive]="['active']"><i class="fa fa-credit-card"></i> Mis Compras</a></li>
                                <li><a *ngIf="!identity" [routerLink]="['/login']" [routerLinkActive]="['active']"><i class="fa fa-lock"></i> Login</a></li>
                                <li><a *ngIf="identity" (click)="logout()" style="cursor: pointer;" [routerLinkActive]="['active']"><i class="fa fa-lock"></i> Cerrar Sesión</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!--/header-middle-->
  </header>
  <!--/header-->
