<!--Footer-->
<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="companyinfo">
							<h2><span>Mini Market</span>-Dulce Alegria</h2>
							<p>El mini market que lo pone todo a tu alcance</p>
						</div>
					</div>
					<div class="col-sm-4">
						
					</div>
					<div class="col-sm-4">
						<div class="address">
							<img src="assets/images/home/map.png" alt="" />
							<p>Zañartu 2203 ñuñoa, Santiago de Chile</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Servicios</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a [routerLink]="['/contact']">Contacto</a></li>
								<li><a [routerLink]="['/cart']">Cart</a></li>
								<li><a *ngIf="identity" [routerLink]="['/mis-compras']">Mis Compras</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget"></div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget"></div>
					</div>
					<div class="col-sm-2">
						<div *ngIf="identity && identity.roles[0].name === 'ROLE_ADMIN'" class="single-widget">
							<h2>Administrativas</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a [routerLink]="['/productos']">Productos</a></li>
								<li><a [routerLink]="['/slider']">Slider</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>Subscribete</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Tu correo electronico" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Para no perderte ninguna de nuestras promociones.</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2019 MINI MARKET-DULCE ALEGRIA Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a>Kendall Navarro</a></span></p>
				</div>
			</div>
		</div>
  </footer>
  <!--/Footer-->