<!--form-->
<section id="form">
		<div class="container">
			<div class="row">
                <div class="alert alert-success col-sm-12">
                    Para realizar una compra debes iniciar Sesión o registrarte
                </div>
				<div class="col-sm-4 col-sm-offset-1">
                    <!--login form-->
					<div class="login-form">
						<h2>Si ya eres cliente Ingresa</h2>
						<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="form-group">
                                <input type="email" placeholder="Correo Electronico" formControlName="email" />
                                <div *ngIf="loginForm.get('email').errors && loginForm.get('email').touched" class="alert alert-danger">
                                    <div *ngIf="loginForm.get('email').errors['required']">
                                        Correo Electronico requerido
                                    </div>
                                    <div *ngIf="loginForm.get('email').errors['email']">
                                        Correo Electronico incorrecto
                                    </div>
                                </div>
                            </div>
							<div class="form-group">
                                <input type="password" placeholder="Contraseña" formControlName="password" />
                                <div class="alert alert-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                                   Contraseña Requerida
                                </div>
                            </div>
                            <div class="alert alert-info">
                                (*) Campos Obligatorios
                            </div>
							<button type="submit" [disabled]="!loginForm.valid" class="btn btn-default">Login</button>
						</form>
                    </div>
                    <!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">O</h2>
				</div>
				<div class="col-sm-4">
                    <!--sign up form-->
					<div class="signup-form">
                        <h2>Registra una cuenta!</h2>
                        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" novalidate>
                            <div class="form-group">
                                <label class="center-block">Nombre *:
                                    <input type="text" placeholder="Ej: Juan Perez" formControlName="name">
                                </label>
                                <div class="alert alert-danger" *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched">
                                    Nombre requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="center-block">Correo Electronico *:
                                    <input type="email" placeholder="Ej: ejemplo@gmail.com" formControlName="email">
                                </label>
                                <div *ngIf="registerForm.get('email').errors && registerForm.get('email').touched" class="alert alert-danger">
                                    <div *ngIf="registerForm.get('email').errors['required']">
                                        Correo Electronico requerido
                                    </div>
                                    <div *ngIf="registerForm.get('email').errors['email']">
                                        Correo Electronico incorrecto
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="center-block">Teléfono *:
                                    <input type="number" placeholder="Ej: 76401711" formControlName="phone">
                                </label>
                                <div *ngIf="registerForm.get('phone').errors && registerForm.get('phone').touched" class="alert alert-danger">
                                    <div *ngIf="registerForm.get('phone').errors['required']">
                                        Teléfono requerido
                                    </div>
                                    <div *ngIf="registerForm.get('phone').errors['minlength']">
                                        Longuitud no valida
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="center-block">Contraseña *:
                                    <input type="password" placeholder="Ej: ******" formControlName="password">
                                </label>
                                <div *ngIf="registerForm.get('password').errors && registerForm.get('phone').touched" class="alert alert-danger">
                                    <div *ngIf="registerForm.get('password').errors['required']">
                                        Contraseña requerida
                                    </div>
                                    <div *ngIf="registerForm.get('password').errors['minlength']">
                                        Contraseña insegura
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-info">
                                (*) Campos Obligatorios
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Registrar</button>
                            <button type="reset" class="btn btn-default btn-block">Reset</button>
                        </form>
                    </div>
                    <!--/sign up form-->
				</div>
			</div>
		</div>
    </section>
<!--/form-->