<section *ngIf="identity" id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a [routerLink]="['/home']">Home</a></li>
				  <li class="active">Carrito de compras</li>
				</ol>
            </div>
            <div *ngIf="!cart || cart.products.length === 0" class="alert alert-success col-sm-12">
                No has agregado ningún producto a tu carrito de compras, <a [routerLink]="['/home']">ver productos</a>
            </div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Articulo</td>
							<td class="description"></td>
							<td class="price">Precio</td>
							<td class="quantity">Cantidad</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let product of arrProducts; let index = index">
							<td class="cart_product">
								<img src="{{ url + 'auth/get-picture-product/' + product.image }}" width="110" height="110" alt="">
							</td>
							<td class="cart_description">
								<h4>{{product.description}}</h4>
							</td>
							<td class="cart_price">
								<p>${{product.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" style="cursor: pointer;" (click)="addCountProduct(index)"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{product.quantitySelect}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" style="cursor: pointer;" (click)="subtractCountProduct(index)"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{product.price * product.quantitySelect}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" style="cursor: pointer;" (click)="deleteProduct(index)"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </section> 
<!--/#cart_items-->
<section *ngIf="identity" id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Selecciona como deseas terminar tu compra</h3>
				<p>Puedes seleccionar delivery (costo adicional) o retiro en el local.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
                        <mat-radio-group [(ngModel)]="cart.pago">
                            <ul class="user_option">
                                <li>
                                    <strong>Tipo de pago:</strong>
                                </li>
                                <li>
                                    <mat-radio-button value="efectivo">Efectivo</mat-radio-button>
                                </li>
                                <li></li>
                                <li>
                                    <mat-radio-button value="transferencia">Transferencia</mat-radio-button>
                                </li>
                            </ul>
                        </mat-radio-group>
                        <mat-radio-group [(ngModel)]="cart.tipo">
                            <ul class="user_option">
                                <li>
                                    <strong>Entrega de Productos:</strong>
                                </li>
                                <li>
                                    <mat-radio-button (click)="addShipping('delivery')" value="delivery">Delivery</mat-radio-button>
                                </li>
                                <li></li>
                                <li>
                                    <mat-radio-button (click)="addShipping('local')" value="local">Retiro en el local</mat-radio-button>
                                </li>
                            </ul>
                        </mat-radio-group>
						<ul *ngIf="cart.tipo === 'delivery'" class="user_info">
							<li class="single_field">
                                <mat-form-field>
                                    <mat-select placeholder="Comuna" name="comuna" [(ngModel)]="direccion.comuna">
                                        <mat-option *ngFor="let comuna of comunas" [value]="comuna">
                                            {{comuna}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
							</li>
							<li>
								<label>Calle / Avenida:</label>
								<input [(ngModel)]="direccion.calle" type="text">
							</li>
							<li>
								<label>Nro:</label>
								<input [(ngModel)]="direccion.nro" type="text">
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
                            <li><strong>Totales</strong></li>
							<li>Sub Total <span>$<strong>{{cart.total}}</strong></span></li>
                            <li *ngIf="cart.tipo != 'delivery'">Costo Envio <span><strong>Free</strong></span></li>
                            <li *ngIf="cart.tipo === 'delivery'">Costo Envio <span>$<strong>{{cart.shipping}}</strong></span></li>
							<li>Total <span>$<strong>{{cart.total + cart.shipping}}</strong></span></li>
                        </ul>
                        <button *ngIf="cart && cart.products.length > 0" type="button" (click)="realizarPedido()" class="btn btn-default update">Realizar Pedido</button>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!--/#do_action-->