<section *ngIf="identity" id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a [routerLink]="['/home']">Home</a></li>
				  <li class="active">Carrito de compras</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Articulo</td>
							<td class="description"></td>
							<td class="price">Precio</td>
							<td class="quantity">Cantidad</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let product of arrProducts; let index = index">
							<td class="cart_product">
								<img src="{{ url + 'auth/get-picture-product/' + product.image }}" width="110" height="110" alt="">
							</td>
							<td class="cart_description">
								<h4>{{product.description}}</h4>
							</td>
							<td class="cart_price">
								<p>${{product.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" style="cursor: pointer;" (click)="addCountProduct(index)"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{product.quantitySelect}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" style="cursor: pointer;" (click)="subtractCountProduct(index)"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{product.price * product.quantitySelect}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </section> 
<!--/#cart_items-->
<section *ngIf="identity" id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Selecciona como deseas terminar tu compra</h3>
				<p>Puedes seleccionar delivery (costo adicional) o retiro en el local.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox">
								<label>Delivery</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Retiro en el local</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimate Shipping & Taxes</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
                            <li><strong>Totales</strong></li>
							<li>Sub Total <span>$<strong>{{cart.total}}</strong></span></li>
							<li>Costo Envio <span>Free</span></li>
							<li>Total <span>$<strong>{{cart.total}}</strong></span></li>
						</ul>
						<a class="btn btn-default update" href="">Realizar Pedido</a>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!--/#do_action-->