<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
                    <div class="left-sidebar">
						<h2>Categorias</h2>
                        <!--category-productsr-->
                        <app-categorias (emisor)="buscarProductosByCategoria($event)"></app-categorias>
                        <!--/category-products-->
					</div>
				</div>
				<div class="col-sm-9 padding-right">
                    <!--features_items-->
					<div class="features_items">
						<h2 class="title text-center">Productos</h2>
                        <div *ngFor="let product of productos" class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
								    <div class="productinfo text-center">
                                        <img *ngIf="product.image != null" src="{{url + 'auth/get-picture-product/' + product.image}}" width="255" height="237" />
										<img *ngIf="product.image == null" src="assets/images/home/product1.jpg" alt="" />
										<h2>${{product.price}}</h2>
										<p>{{product.name}}</p>
										<a [routerLink]="['/edit-producto', product.id]" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Editar Producto</a>
									</div>
                                </div>
                            </div>
                        </div>
					</div>
					<!--features_items-->
				</div>
			</div>
		</div>
	</section>