<app-slider></app-slider>
<header>
    <!--header-bottom-->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-9"></div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
                            <input type="text" [(ngModel)]="busqueda" name="searchProduct" placeholder="Encuentra tu producto"/>
						</div>
					</div>
				</div>
			</div>
    </div>
    <!--/header-bottom-->
</header>
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categorias</h2>
                        <!--category-productsr-->
                        <app-categorias (emisor)="buscarProductosByCategoria($event)"></app-categorias>
                        <!--/category-products-->
						<!--shipping-->
						<div class="shipping text-center">
							<img src="assets/images/home/banner.png" alt="" />
						</div>
                        <!--/shipping-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
                    <!--features_items-->
					<div class="features_items">
                        <h2 class="title text-center">Productos</h2>
                        <mat-spinner *ngIf="!productos"></mat-spinner>

						<div *ngFor="let product of productos | search: busqueda" class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
                                            <img *ngIf="product.image != null" src="{{ url + 'auth/get-picture-product/' + product.image }}" width="255" height="237" />
											<img *ngIf="product.image == null" src="assets/images/home/FotoNoDisponible.jpg" alt="" />
											<h2>${{product.price}}</h2>
											<p>{{product.name}}</p>
											<a (click)="getProductById(product.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>${{product.price}}</h2>
												<p>{{product.description}}</p>
												<a (click)="getProductById(product.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
											</div>
										</div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--features_items-->
					<!--recommended_items-->
					<div class="recommended_items">
                        <h2 class="title text-center">Productos Recomendados</h2>
                        <mat-spinner *ngIf="!productosRecommended"></mat-spinner>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div *ngFor="let productRecommende of firstTreeRecommendedProducts" class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
                                                    <img src="{{url + 'auth/get-picture-product/' + productRecommende.image}}" width="255" height="128" />
												    <h2>${{productRecommende.price}}</h2>
													<p>{{productRecommende.name}}</p>
													<a (click)="getProductById(productRecommende.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
												</div>
											</div>
										</div>
                                    </div>                                   
                                </div>
                                <div class="item">	
									<div *ngFor="let productRecommende2 of productosRecommended" class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
                                                    <img src="{{url + 'auth/get-picture-product/' + productRecommende2.image}}" width="255" height="128" />
												    <h2>${{productRecommende2.price}}</h2>
													<p>{{productRecommende2.name}}</p>
													<a (click)="getProductById(productRecommende2.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
												</div>
											</div>
										</div>
                                    </div>                                   
                                </div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div>
					<!--/recommended_items-->
				</div>
			</div>
		</div>
	</section>