<app-slider></app-slider>

<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse" id="navbarButton">
								<li class="dropdown"><a href="#x">Categorias<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a (click)="buscarProductosByCategoria(0)">TODOS</a></li>
                                        <li *ngFor="let categoria of categorias" style="cursor: pointer;">
                                            <a (click)="buscarProductosByCategoria(categoria.id)">{{categoria.name}}</a>
                                        </li>
                                    </ul>
                                </li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
                            <input type="text" class="form-control" [(ngModel)]="busqueda" name="searchProduct" placeholder="Encuentra tu producto"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->

<section>
		<div class="container">
			<div class="row">

        
			

				<div class="col-sm-12 padding-right">
                    <!--features_items-->
					<div class="features_items">
                        <h2 class="title text-center">Productos</h2>
                        <mat-spinner *ngIf="!productos"></mat-spinner>

						<div *ngFor="let product of productos | search: busqueda" class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
                                            <img *ngIf="product.image != null" src="{{ url + 'auth/get-picture-product/' + product.image }}" width="255" height="237" />
											<img *ngIf="product.image == null" src="assets/images/home/FotoNoDisponible.jpg" alt="" />
											<h2>${{product.price}}</h2>
											<p>{{product.name}}</p>
											<a (click)="getProductById(product.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>${{product.price}}</h2>
												<p>{{product.description}}</p>
												<a (click)="getProductById(product.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
											</div>
										</div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--features_items-->
					<!--recommended_items-->
					<div class="recommended_items">
                        <h2 class="title text-center">Productos Recomendados</h2>
                        <mat-spinner *ngIf="!productosRecommended"></mat-spinner>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div *ngFor="let productRecommende of firstTreeRecommendedProducts" class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
                                                    <img src="{{url + 'auth/get-picture-product/' + productRecommende.image}}" width="255" height="128" />
												    <h2>${{productRecommende.price}}</h2>
													<p>{{productRecommende.name}}</p>
													<a (click)="getProductById(productRecommende.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
												</div>
											</div>
										</div>
                                    </div>                                   
                                </div>
                                <div class="item">	
									<div *ngFor="let productRecommende2 of productosRecommended" class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
                                                    <img src="{{url + 'auth/get-picture-product/' + productRecommende2.image}}" width="255" height="128" />
												    <h2>${{productRecommende2.price}}</h2>
													<p>{{productRecommende2.name}}</p>
													<a (click)="getProductById(productRecommende2.id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
												</div>
											</div>
										</div>
                                    </div>                                   
                                </div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div>
					<!--/recommended_items-->
				</div>
			</div>
		</div>
	</section>