/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", 
    sans-serif; 
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #FA8F1F !important;
}

.checkIcon {
  color: #FA8F1F;
  font-size: 90px;
}

.checkIconOff {
    color: #f70969;
    font-size: 90px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent 
.mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked 
.mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color:  #FA8F1F !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #FA8F1F !important;
}

.mat-form-field-infix {
    width: 145px !important;
}